version: "3.8"
services:
  main_container:
    build:
      context: ./docker
      args:
        - CARLA_VERSION=${CARLA_VERSION:?}
        - CUDA_VERSION=${CUDA_VERSION:?}
      cache_from:
        - faizansana/intersection-driving:cuda-${CUDA_VERSION:?}-carla-${CARLA_VERSION:?}
    image: faizansana/intersection-driving:cuda-${CUDA_VERSION:?}-carla-${CARLA_VERSION:?}
    user: ${FIXUID:?}:${FIXGID:?}
    runtime: nvidia
    volumes:
      - ./:/home/docker/src
    depends_on:
      - carla_server
      - carla_server_debug

  carla_server:
    image: "carlasim/carla:${CARLA_VERSION}"
    command: /bin/bash -c "SDL_VIDEODRIVER=offscreen && ./CarlaUE4.sh -RenderOffScreen -world-port=2000 -quality-level=${CARLA_QUALITY} -nosound -carla-server -fps=30"
    restart: always
    deploy:
      replicas: ${CARLA_SERVER_REPLICAS:?}
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['${GPU_ID_CARLA_MAIN:?}']
            capabilities: [gpu]

  carla_server_debug:
    image: "carlasim/carla:${CARLA_VERSION}"
    command: /bin/bash -c "SDL_VIDEODRIVER=offscreen && ./CarlaUE4.sh -RenderOffScreen -world-port=2000 -quality-level=Epic -nosound -carla-server -fps=30"
    restart: always
    deploy:
      replicas: ${CARLA_DEBUG_SERVER_REPLICAS:?}
      resources:
        reservations:
          devices:
          - driver: nvidia
            device_ids: ['${GPU_ID_CARLA_DEBUG:?}']
            capabilities: [gpu]
