absl-py==2.0.0
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
cloudpickle==2.2.1
cmake==3.27.0
contourpy==1.1.0
cycler==0.11.0
Farama-Notifications==0.0.4
filelock==3.12.2
fonttools==4.43.0
google-auth==2.23.2
google-auth-oauthlib==1.0.0
grpcio==1.59.0
gymnasium==0.28.1
idna==3.7
importlib-metadata==6.6.0
importlib-resources==6.0.0
jax-jumpy==1.0.0
Jinja2==3.1.3
kiwisolver==1.4.4
lit==16.0.6
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
packaging==23.1
pandas==2.0.3
Pillow==10.3.0
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pygame==2.4.0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0.1
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.5.3
rsa==4.9
sb3-contrib==2.1.0
six==1.16.0
stable-baselines3==2.1.0
sympy==1.12
tensorboard==2.14.0
tensorboard-data-server==0.7.1
torch==2.0.1
tqdm==4.66.3
triton==2.0.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.2.2
Werkzeug==3.0.1
zipp==3.15.0
