name: Push to Docker Hub

on:
  push:
    branches:
      - "main"
    paths:
      - "docker/**"

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Reclaim disk space as specified at https://github.com/actions/runner-images/issues/2840
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
      - name: Checkout repo
        uses: actions/checkout@v3
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      
      - name: Build and push container
        uses: docker/build-push-action@v4
        with:
          context: ./docker
          push: true
          tags: faizansana/intersection-driving:latest